<h1>Create User</h1>
<form method="POST" action="/user">
  <input type="text" name="username" placeholder="Name" />
  <input type="password" name="password" placeholder="Password" />

  <button type="submit"  class="add-button">Create</button>
</form>

