<h1>Login</h1>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Name" />
  <input type="password" name="password" placeholder="Password" />

  <button type="submit"  class="add-button">Login</button>
</form>
<a href="/create">Create new Users</a>
